*.pub
etcd/etcd
etcd/etcdctl
confd/confd

__pycache__/
*.cache
*.conf

*/jdk8/
*/jre8/
*/maven/

*.jar

anyconnect/anyconnect/


sshkey
sshkey.pub

*.tar
*.gz
*.xz
*.zip
*.bz2
*.swp
depend-cache/
*.pyz
*.deb
*.log
*.logs

v2ray-subscribe/data/
