*.pub
etcd/etcd
etcd/etcdctl
confd/confd

__pycache__/

depend-cache/

*.cache
*.conf
*.toml

*/jdk8/
*/jre8/
*/maven/
*.jar
*.class
*.dex


sshkey
sshkey.pub

*.tar
*.gz
*.xz
*.zip
*.bz2
*.swp
*.pyz
*.deb
*.log
*.logs

