[Unit]
Description=podman start unix://run/user/%U/podman/podman.sock

[Service]
ExecStartPre=-/usr/bin/mkdir /run/user/%U/podman
ExecStart=/usr/bin/podman system service --time=0

[Install]
WantedBy=default.target
