[Unit]
Description=borg auto keyfile backup tools

[Service]
Type=simple
EnvironmentFile=%h/.config/borg/borg-auto.env
ExecStart=/usr/bin/bash %h/.config/borg/borg-auto.sh

#WorkingDirectory=%h/.venv/

# [Install]
# WantedBy=default.target
