[Unit]
Description=IPv6 DDNS 任务 HOME: %h


[Service]
ExecStart=%h/.ddns/ddns.pyz --without-logtime
WorkingDirectory=%h/.ddns/

[Install]
WantedBy=default.target
